@import "reset";
@import "global";
@import "vars";
@import "fonts";

body {
    padding-top: 50px;
    background: $bodyBg;
}

.uploader {
    border-radius: 20px;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(8px);
    box-shadow: $shadow;
    padding: 40px 50px;

    &-title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    &-imgs {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 35px;
        flex-wrap: wrap;

        &__item {
            width: 245px;
            background-color: $white;
        }

        &__file {
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            font-size: 20px;
            color: $green;
        }

        &__item-container {
            width: 240px;
            height: 160px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 20px;
            box-shadow: $shadow;
            border-radius: 10px;
            border: 2px solid $green;
        }
    }

    &-btn {
        display: block;
        padding: 8px 15px;
        border-radius: 20px;
        transition: all .3s; 

        &__open {
            border: 2px solid $green;
            background-color: $white;
            color: $green;
        }

        &__upload {
            border: 2px solid $white;
            background-color: $green;
            color: $white;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            box-shadow: inset $shadow;
        }
    }

}