@import "reset";
@import "global";
@import "vars";
@import "fonts";

body {
    padding-top: 50px;
    background: $bodyBg;
}

.uploader {
    border-radius: 20px;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(8px);
    box-shadow: $shadow;
    height: 300px;
    padding: 40px 50px;

    &-title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    &-btn {
        padding: 8px 15px;
        border-radius: 20px;
        transition: all .3s; 

        &__open {
            border: 2px solid $green;
            background-color: $white;
            color: $green;
        }

        &__upload {
            border: 2px solid $white;
            background-color: $green;
            color: $white;
        }

        &:hover {
            opacity: 0.8;
        }

        &:active {
            box-shadow: inset $shadow;
        }
    }

}